<component name="ArtifactManager">
  <artifact type="war" name="springcloudeureka:war">
    <output-path>$PROJECT_DIR$/springcloudeureka/target</output-path>
    <root id="archive" name="springcloudeureka.war">
      <element id="artifact" artifact-name="springcloudeureka:war exploded" />
    </root>
  </artifact>
</component>